modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx netlify dev -p 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 32775
externalPort = 3002

[[ports]]
localPort = 37543
externalPort = 3003

[[ports]]
localPort = 41535
externalPort = 3001

[[ports]]
localPort = 42123
externalPort = 4200

[[ports]]
localPort = 42553
externalPort = 6000

[[ports]]
localPort = 42837
externalPort = 5000

[[ports]]
localPort = 44619
externalPort = 8000
